/* CSS variables for wallust
 * You can use this template by adding the following to wallust.toml:
css = { src = "wofi.css", dst = "~/.config/wofi/colors.css" }
 */

:root {
    --wallpaper: url("/home/saatvik333/Pictures/Wallpapers/Nord/nord-death-star.png");

    /* Special */
    --background: #0E0F13;
    --foreground: #B6B8BC;
    --cursor: #A5BDC8;

    /* Colors */
    --color0:  #323336;
    --color1:  #5D626B;
    --color2:  #758092;
    --color3:  #738393;
    --color4:  #8F9DB0;
    --color5:  #94C3D3;
    --color6:  #C1CBD9;
    --color7:  #8E9197;
    --color8:  #63666A;
    --color9:  #5D626B;
    --color10: #758092;
    --color11: #738393;
    --color12: #8F9DB0;
    --color13: #94C3D3;
    --color14: #C1CBD9;
    --color15: #8E9197;
}
