/* CSS variables for wallust
 * You can use this template by adding the following to wallust.toml:
css = { src = "wofi.css", dst = "~/.config/wofi/colors.css" }
 */

:root {
    --wallpaper: url("/home/saatvik333/Pictures/Wallpapers/Nord/nord-soupKong.png");

    /* Special */
    --background: #0E0F13;
    --foreground: #B6B8BC;
    --cursor: #A29B9E;

    /* Colors */
    --color0:  #3F3833;
    --color1:  #5D626B;
    --color2:  #94787D;
    --color3:  #788296;
    --color4:  #BB5F69;
    --color5:  #8E7E7F;
    --color6:  #8091AB;
    --color7:  #8E9197;
    --color8:  #63666A;
    --color9:  #5D626B;
    --color10: #94787D;
    --color11: #788296;
    --color12: #BB5F69;
    --color13: #8E7E7F;
    --color14: #8091AB;
    --color15: #8E9197;
}
